#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background-color: #242424;
}
body {
  margin: 0;
  overflow: hidden;
}

.task-list {
  width: 400px;
  height: 80%;
  background-color: #282828;
  overflow: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.modeBtn {
  position: fixed;
  top: 10px;
  right: 10px;
  width: 40px;
  height: 40px;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border: 1px solid rgb(69, 69, 69);
  background-color: #b5b5b5;
  border-radius: 20px;
}
.spacerBtn {
  margin-left: 1em;
}
.modeBtn:hover {
  background-color: #767676;
  transition: all 0.25s;
}
.modeBtn img {
  width: 70%;
}

.light {
  background-color: #f0f0f0;
  color: rgb(38, 38, 38) !important;
}

.taskBtn {
  margin-bottom: 1em;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.deleteBtn {
  font-size: 0.9em;
  margin-bottom: 0;
}

.taskTittle,
.bigTitle {
  color: #ccc;
  user-select: none;
}
.task {
  width: 90%;
}
.taskTitle {
  width: 100%;
}

.bigTitle {
  margin: 0.3em 0;
}
.waitTxt {
  color: rgb(151, 151, 151);
}

.auxText {
  color: rgb(104, 104, 104);
  margin-bottom: 0.2em;
  margin-top: 0;
}
.checkbx {
  margin-right: 1em;
}
.checkbx:hover {
  cursor: pointer;
}
.taskTittle:hover {
  color: rgb(151, 151, 151);
  transition: all 0.25s;
  cursor: pointer;
}

.taskContainer,
.miniTaskContainer {
  width: 80%;
  height: 75%;
  overflow: auto;
  border: 1px solid rgb(69, 69, 69);
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 1em;
  margin-bottom: 1em;
  display: flex;
  flex-direction: column;
}
.taskDiv {
  display: flex;
  justify-content: center;
}
.miniTaskContainer {
  height: 13%;
  padding: 0.5em 1em;
  display: flex;
  align-items: center;
  justify-content: center;
}

label {
  font-family: "Monaco", monospace;
}

#titleInput {
  border-radius: 5px;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  margin-bottom: 1em;
}
.controls {
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.bottomControls {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-around;
}

.numberLeft {
  font-size: 1.1em;
}
