#root {
  max-width: 1280px; 
  display: flex;
  text-align: center;
  width: 100%;
  height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 1;
}
#bckImg::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4); /* color de fondo semi-transparente (negro en este caso) */
}
#bckImg{
  /* Cambiar imagen al gusto */
  background-image: url(https://w.wallhaven.cc/full/ex/wallhaven-ex3m8k.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vh;
  height: 100vh;
  z-index: 0;
}
body {
  margin: 0;
  overflow: hidden;
}
h2{
  font-size: 2.5em;
}
del{
  opacity: 0.5 !important
}

.task-list,.pomodoroContainer {
  height: 60vh;
  background-color: #282828;
  overflow: auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  display: flex;
  align-items: center;
  flex-direction: column;
  max-width: 495px;
  width: 100%;

}
.headerDiv{
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-around;
}
.pomodoroContainer{
  margin-top: 1em;
  position: inherit;
  height: auto;
  width: 80%;
}
.modeBtn, .maxScreenBtn {
  width: 40px;
  height: 40px;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border: 1px solid rgb(69, 69, 69);
  background-color: #b5b5b5;
  border-radius: 20px;
}


.spacerBtn {
  margin-left: 1em;
}
.modeBtn:hover {
  background-color: #767676;
  transition: all 0.25s;
}
.modeBtn img {
  width: 70%;
}
.maxScreenBtn img{
  width: 60%;
}

.light {
  background-color: #f0f0f0;
  color: rgb(38, 38, 38) !important;
}

.taskBtn {
  margin-bottom: 1em;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.deleteBtn {
  font-size: 0.9em;
  margin-bottom: 0;
}

.taskTittle,
.bigTitle {
  color: #ccc;
  user-select: none;
}
.task {
  width: 90%;
}
.taskTitle {
  width: 100%;
}

.bigTitle {
  margin: 0.3em 0;
}
.waitTxt {
  color: rgb(151, 151, 151);
}

.auxText {
  color: rgb(150, 150, 150);
  margin-bottom: 0.2em;
  margin-top: 0;
}
.checkbx {
  margin-right: 1em;
}
.checkbx:hover {
  cursor: pointer;
}
.taskTittle:hover {
  color: rgb(151, 151, 151);
  transition: all 0.25s;
  cursor: pointer;
}

.taskContainer,
.miniTaskContainer {
  width: 80%;
  height: 75%;
  overflow: auto;
  border: 1px solid rgb(69, 69, 69);
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 1em;
  display: flex;
  flex-direction: column;
}
.taskDiv {
  display: flex;
  justify-content: center;
}
.miniTaskContainer {
  height: 13%;
  padding: 0.5em 1em;
  display: flex;
  align-items: center;
  justify-content: center;
}

label {
  font-family: "Monaco", monospace;
}
p{
  color: #ccc;
}

#titleInput {
  border-radius: 5px;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  margin-bottom: 1em;
}
.controls {
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.bottomControls {
  display: flex;
  align-items: center;
  width: 80%;
  justify-content: space-between;
  margin: 1rem 0;
}

.numberLeft {
  font-size: 1.1em;
}


 /* Timer */
.timers{
  display: flex;
  width: 100%;
  margin: 0.3em 0
}
.timerContainer{
  width: 100%;
}
.timerTitle{
  
}
.timerTime{
  font-size: 35px;
  margin: 0;
}
.timerControls{
  display: flex;
  width: 90%;
  justify-content: center;
}
.timerBtn{
  margin: 1em;
}

.timerHeader{
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.timerOptBtn img {
  width: 70%
}
.controlsDiv{
  display: flex;
}
.changeSoundBtn p {
  color: #242424;
}

/* Button 1 */

.showPomodoroDiv{
  margin-top: 1em;
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 495px;
}

#button-1 .knobs:before {
  content: "yes";
  position: absolute;
  top: 4px;
  left: 4px;
  width: 20px;
  height: 10px;
  color: #000000;
  font-size: 10px;
  text-align: center;
  line-height: 1;
  padding: 9px 4px;
  background-color: #b5b5b5;
  border-radius: 50%;
  transition: 0.3s cubic-bezier(0.18, 0.89, 0.35, 1.15) all;
}

#button-1 .checkbox:checked + .knobs:before {
  content: "no";
  left: 42px;
  color: #dfdfdf;

  background-color: rgb(69, 69, 69);
}


#button-1 .knobs,
#button-1 .knobs:before,
#button-1 .layer {
  transition: 0.3s ease all;
}
.checkbox {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  opacity: 0;
  cursor: pointer;
  z-index: 3;
}

.knobs {
  z-index: 2;
}
.knobs, .layer{
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.layer {
  width: 100%;
  background-color: #1a1a1a;
  transition: 0.3s ease all;
  z-index: 1;
}
.button {
  position: relative;
  width: 74px;
  height: 36px;
  overflow: hidden;
}

.button.r,
.button.r .layer {
  border-radius: 100px;
}
