#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
body {
  margin: 0;
  overflow: hidden;
  
}

.task-list {
  width: 400px;
  height: 600px;
  background-color: #f0f0f0;
  overflow: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid #ccc;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.taskBtn{
  margin-bottom: 1em;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.deleteBtn{
  font-size: 0.9em;
  background-color: #1d1d1d;
}

.taskTittle,.bigTitle{
  color: rgb(38, 38, 38);
}
.bigTitle{
  margin: 0.2em 0;
}
.waitTxt{
  color: rgb(151, 151, 151);
}

.auxText{
  color: rgb(104, 104, 104);
  margin-bottom: 0.2em;
  margin-top: 0;
}
.checkbx{
  margin-right: 1em;
}
.checkbx:hover{
  cursor: pointer;
}
.taskTittle:hover{
  color: rgb(151, 151, 151);
  transition: all 0.25s;
  cursor: pointer;
}

.taskContainer{
  width: 80%;
  overflow: auto;
  border: 1px solid rgb(69, 69, 69);
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 1em;
  margin-bottom: 1em;
}

#titleInput{
  border-radius: 5px;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  margin-bottom: 1em;


}
.controls{
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
